*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: sans-serif;
}
i,svg {
    pointer-events: 0;
}
.kick-pad,.hihat-pad,.snare-pad {
    width: 5rem;
    height: 5rem;
    margin: 1rem 0.5rem;
}
.kick-pad {
    background: rgb(164, 211, 244);
}
.snare-pad {
    background: rgb(224, 160, 208);
}
.hihat-pad {
    background: rgb(224, 194, 160);
}
.kick-pad.active {
    /* transition: all 0.5s ease; */
    background: rgb(45, 141, 209);
}
.snare-pad.active {
    /* transition: all 0.5s ease; */
    background: rgb(212, 55, 173);
}
.hihat-pad.active {
    /* transition: all 0.5s ease; */
    background: rgb(236, 150, 51);
}
.sequencer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.kick,.hihat,.snare {
    display: flex;
    background: whitesmoke;
}
.kick-track, .hihat-track, .snare-track {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-top: 5rem;
    /* background: black; */
}
.controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0rem 2rem;
    background: white;
}
.controls button {
    padding: 1rem;
    border: none;
    background: rgb(88, 88, 88);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
/* .controls select {
    padding: 1rem;
    border: none;
    background: gray;
}
.controls h1 {
    padding: 1rem;
    border: none;
    background: gray;
} */
.pad {
    transition: all 0.5s ease;
}
.play {
    background: rgb(88, 88, 88);
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 3rem;
    font-size: 1.5rem;
    padding: 1rem 2rem;
}
.select {
    padding: 1rem;
    font-size: 1rem;
}
@keyframes playTrack {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
.mute.active {
    background: gray;
}
.tempo {
    margin: 3rem;
    width: 30%;
    /* background: gray; */
}
.tempo-slider {
    -webkit-appearance: none;
    padding: 0.2rem;
    margin: 1rem;
    width: 100%;
    position: relative;
    background: rgb(88, 88, 88);
    cursor: pointer;
    border-radius: 1rem;
}
.tempo p {
    font-size: 1.5rem;
    margin: 2rem;
    text-align: center;
}